

 body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    background: rgb(81, 204, 167);
    min-height: 100vh; 
    position: relative; 
    overflow: hidden; 


    @media (max-width: 799px){
        background-color: red;
      

    }
}  


.main-conteiner{
   
    display: flex;
    flex-wrap: nowrap;

 

    .seccion{
        width: 100vw;
        height: 100vh; 
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: space-around;
       /*  background-color: brown; */
        background-size: cover;
        background-position: center center;




        h1{
            color:burlywood;

        }
    }



/* En la version celu se hace columna */
    @media (max-width: 799px){
        display: flex;
        flex-wrap: wrap;
      

    }

    
}