*, *:after, *:before {
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  background: #fbfbfb;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
}

.main-conteiner {
  display: flex;
  flex-wrap: nowrap;
  /*    seccion 1-----seccion 1-------------- */
  /* seccion2-----------------seccion2----------- */
  /* seccion3---------------seccion3-------------------------- */
  /* seccion5 */
  /* En la version celu se hace columna-Estoy ubicado dentro de main conteiner*/
}

.main-conteiner .seccion {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-around;
  /*  background-color: brown;
        background-size: cover;
        background-position: center center; */
}

.main-conteiner .seccion h1 {
  font-family: 'Quicksand', sans-serif;
  color: #0c0b0a;
}

.main-conteiner .seccion1 {
  /* background-color: rgb(83, 0, 192); */
  background-color: white;
}

.main-conteiner .seccion1 .border {
  width: 95vw;
  height: 90vh;
  border: 2px solid #5300c0;
  /*  margin-top: 1.5rem;
            margin-left: 2.8rem; */
}

.main-conteiner .seccion1 .border .img-home {
  border-radius: 3px;
  box-shadow: 2px 2px 5px grey;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12vh;
}

.main-conteiner .seccion2 {
  display: inline;
  text-align: center;
}

.main-conteiner .seccion2 h2 {
  padding: 2rem;
}

.main-conteiner .seccion2 .textos {
  margin-top: 8rem;
}

.main-conteiner .seccion2 .textos p {
  color: black;
  padding: 1rem;
  width: 70vw;
  margin: auto;
  letter-spacing: 1px;
  word-spacing: 1px;
}

.main-conteiner .seccion2 .glass {
  background-color: rgba(235, 235, 235, 0.644);
  width: 100vw;
  height: 100vh;
  padding: 1rem;
}

.main-conteiner .seccion3 {
  display: inline;
  text-align: center;
}

.main-conteiner .seccion3 .textos {
  margin-top: 8rem;
}

.main-conteiner .seccion3 .textos p {
  padding: 1rem;
  width: 70vw;
  margin: auto;
  letter-spacing: 1px;
  word-spacing: 1px;
}

.main-conteiner .seccion3 .glass {
  background-color: rgba(189, 184, 184, 0.746);
  width: 100vw;
  height: 100vh;
  padding: 1rem;
}

.main-conteiner .seccion4 {
  display: inline;
  text-align: center;
}

.main-conteiner .seccion4 .border {
  width: 95vw;
  height: 90vh;
  border: 2px solid #5300c0;
  margin-top: 1.5rem;
  margin-left: 2.8rem;
}

.main-conteiner .seccion4 .border .encontrame {
  margin-top: 4rem;
}

.main-conteiner .seccion4 .border .lista {
  margin-top: 7rem;
}

.main-conteiner .seccion4 .border .lista ul {
  list-style: none;
}

.main-conteiner .seccion4 .border .lista ul li {
  padding: 0.5rem;
}

.main-conteiner .seccion4 .border .conteiner-contacto {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 50vw;
  align-items: center;
  margin: auto;
  margin-top: 7rem;
}

.main-conteiner .seccion4 .border .vecinas {
  width: 15vw;
  margin-top: 14.5rem;
}

.main-conteiner .seccion4 .border .vecinas a {
  text-decoration: none;
  color: black;
}

.main-conteiner .seccion4 .border .vecinas a .texto-vecinas {
  font-size: 10px;
}

.main-conteiner .gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
  padding: 15px;
  grid-gap: 10px;
}

.main-conteiner .gallery-container .vani__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main-conteiner .gallery-container .gallery__items:nth-child(3) {
  grid-column-start: span 2;
}

@media (max-width: 799px) {
  .main-conteiner {
    display: flex;
    flex-wrap: wrap;
  }
  .main-conteiner .seccion1 img {
    width: 300px;
  }
  .main-conteiner .seccion2 .textos {
    margin-top: -1rem;
  }
  .main-conteiner .seccion2 .textos p {
    width: 95vw;
  }
  .main-conteiner .seccion4 .border {
    width: 92vw;
    height: 90vh;
    margin: auto;
  }
}
/*# sourceMappingURL=estilos.css.map */