  $fuente:  'Times New Roman', Times, serif;
  
*,*:after,*:before{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
  body{
    font-family: $fuente;
    margin: 0;
    background: rgb(251, 251, 251);
    min-height: 100vh;  
    position: relative; 
    overflow-x: hidden;
      }  
.main-conteiner{
    display: flex;
    flex-wrap: nowrap;
 .seccion{
        width: 100vw;
        height: 100vh; 
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: space-around;
        background-size: cover;
        background-position: center center; 

h1{         
    font-family: $fuente;
     color:rgb(12, 11, 10);
     font-size: 1.5rem;

        }
    }
/*    seccion 1-----seccion 1-------------- */
    .seccion1{
        
        /* background-color: rgb(83, 0, 192); */
        background-color: rgb(255, 255, 255);
        .border{
            width: 95vw;
            height: 90vh;
            border:2px solid rgb(83, 0, 192);
           /*  margin-top: 1.5rem;
            margin-left: 2.8rem; */
            .img-home{
                border-radius: 500px;
                box-shadow: 2px 2px 5px grey;
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-top: 12vh;
                
            }
}
}

/* seccion2-----quien soy------------seccion2----------- */

.seccion2{
    display: inline;
    text-align: center;
    h1{ font-family: 'Kurale', serif;
        font-weight: 1;
        color:rgb(12, 11, 10);
        font-size: 1.5rem;
    }
    .textos{
        margin-top: 8rem;
       
             p{ 
                
                font-family: 'Kurale', serif;
                color: rgb(0, 0, 0);
                padding: 2rem;
                width: 82vw;
                margin: auto;
                letter-spacing: 1px;
                word-spacing: 1px;
                 line-height: 3em; 
                 font-size: 1.3rem; 
    }
}

    .glass{
        background-color: rgba(235, 235, 235, 0.644);
        width: 100vw;
        height: 100vh;
        padding:1rem;
        
    } 
/* Media seccion 2 */
  
    
        
}
     /* seccion3--Mi propuesta-------------seccion3-------------------------- */
     .seccion3{
        display: inline;
        text-align: center;
        h1{
           font-family: 'Kurale', serif; 
           font-weight: 1;
           color:rgb(12, 11, 10);
           font-size: 1.5rem;
        }
        .textos{
            
            margin-top: 3rem;
                p{ 
                  font-family: 'Kurale', serif;
                  color: black;
                  padding: 1rem;
                  width: 70vw;
                  margin: auto;
                  letter-spacing: 1px;
                  word-spacing: 1px;
                  font-size: 1.3rem;
        }

        .lista{
           
            margin-top:2rem;
            p{ 
                font-size: 1.7vw;
            }
            ul{
              
                list-style: none;
                 margin-top: -0.5rem; 
                li{
                    font-family: 'Kurale', serif;
                    color: rgb(0, 0, 0);
                    padding: 0.3rem;
                    width: 70vw;
                    margin: auto;
                    letter-spacing: 1px;
                    word-spacing: 1px;
                   /*  line-height: 1em; */
                    font-size: 1.3rem;
                }
            }
        }
    }
    
        .glass{
            background-color: rgba(189, 184, 184, 0.746);
            width: 100vw;
            height: 100vh;
            padding:1rem;
            
        } 

     }
/*    seccion 4 --------- Encontrame */
     .seccion4{
            display: inline;
            text-align: center;
            position: relative;
            h1{
                font-family: 'Kurale', serif;
                font-weight: 1;
                color:rgb(12, 11, 10);
                font-size: 1.5rem;
            }
            .border{
                width: 95vw;
                height: 90vh;
                border:2px solid rgb(83, 0, 192);
                margin-top: 1.5rem;
                margin-left: 2.8rem;
                
         .encontrame{
              margin-top: 4rem;
                     }
      
        .contacto{
            .logoVaniEncontrame{
                margin-bottom: -8rem;
               border-radius: 60px;
               width: 5rem;
               
              
            }
        }
        .conteiner-contacto{
           
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;
            width: 50vw;
            align-items: center;
            margin: auto;
            margin-top: 18rem;
            
          }
      
}

     }


     /* seccion5 */

     .seccion5{
         position: relative;
     .gallery-container{
         display: grid;
         grid-template-columns: repeat(5,1fr);
         grid-auto-rows: 150px;
         padding: 15px;
         grid-gap: 10px;

         .vani__img{
             width: 100%;
             height: 100%;
              object-fit: cover; 
         }
       
         .gallery__items:nth-child(7){
             grid-column-end: span 2;
         }
         .gallery__items:nth-child(6){
            grid-column-end: span 2;
        }
         .gallery__items:nth-child(1){
            grid-row-end: span 2;
        } 
        
         .gallery__items:nth-child(10){
            grid-row-end: span 2;
        } 
        .gallery__items:nth-child(8){
            grid-row-end: span 2;
        } 
        .gallery__items:nth-child(9){
            grid-row-end: span 2;
        }   .gallery__items:nth-child(4){
            grid-row-end: span 2;
        } 
        .gallery__items:nth-child(5){
            grid-row-end: span 2;
        } 
        .gallery__items:nth-child(7){
            grid-row-end: span 2;
        } 

     }
     .vecinas{
       
        width: 15vw;
        margin-top: 15rem;
        position: absolute;
        bottom: 0;
        right: 0;
       
        
        a{
            text-decoration: none;
            color:rgb(83, 0, 192); ;
            font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            .texto-vecinas{
                font-size: 10px;
            }
            
    
    }
}

    }
   
    @media screen and (max-width: 1100px) and (min-width: 798px){
       .seccion2{
        .textos{
            p{  
               
                font-size: 1.2rem;
                line-height: 2rem;
            }
        }
        
        
    }


    /* MI propuesta */
    .seccion3{
        .textos{
            p{ 
                font-size: 1.2rem;
                margin-top: -7rem;
            }
            .lista{
                p{
                    margin-top: -3rem;
                }
                ul{
                    margin-top: 0.5rem;
                    li{
                        font-size: 1.1rem;
                    
                    }
                }
            }
        }
    }
}


/* En la version celu se hace columna-Estoy ubicado dentro de main conteiner*/
    @media (max-width: 799px){
        display: flex;
        flex-wrap: wrap;
        .seccion1{
                 .border{
               display: flex;
               justify-content: center;
               align-items: center; 
                   .img-home{
                width: 300px;
                margin-top:auto;
                margin-bottom: auto;
                }
            }
        }
        .seccion2{ /* quien soy */
             .glass{
                 header{
                     margin-top: 5rem;
                 }
             }
            .textos{
                margin-top:6rem;
                p{
                    width: 97vw;
                    line-height: 1.8em;
                    font-size: 3vw;
                }
            }
        }

.seccion3{ /* Mi propuesta */
    margin-top: 1rem;
    .glass{
        header{
            margin-top: 5rem;
        }
    }
    .textos{
        margin-top: 4rem;
        p{
            line-height: 1.8em;
            width: 97vw;
            font-size: 3vw;
        }
        .lista{
            p{
                font-size: 3.2vw;
               
            }
        }
    }
}
        .seccion4{ /* Encontrame */
             margin-top: 1rem;
            .border{
                position: relative;
                width: 92vw;
                height: 90vh;
                margin: auto;
            .contacto{
                   margin-top: -8rem;
                   .logoVaniEncontrame{
                          margin-bottom: -13rem;
                          border-radius: 15px;
                          width: 5rem;
                          
                   }
                     .conteiner-contacto{
                        margin-top: 15rem;
                         height: 60vh;
                         flex-direction: column;
                         justify-content: space-evenly;
                         
                        }
                }
            }
        }

        .seccion5{
            a{
                color: rgb(83, 0, 192);
            }
        }
  }
 
  @media (max-width: 420px){
    .seccion1{
        .border{
            display: flex;
            justify-content: center;
            align-items: center; 
            .img-home{
                width: 300px;
                margin-top:auto;
                margin-bottom: auto;
                }
            }
        }
        .seccion2{ /* quien soy */
             .glass{
                 header{
                     margin-top: 3rem;
                 }
             }
            .textos{
                margin-top:4rem;
                   p{
                    width: 95vw;
                    line-height: 2em; 
                    font-size: 3.1vw;
                }
            }
        }

        .seccion3{ /* Mi propuesta */
            margin-top: 1rem;
            .glass{
                header{
                    margin-top: 3rem;
                }
            }
            .textos{
                margin-top: 1rem;
                p{
                    line-height: 2em;
                    width: 95vw;
                    font-size: 3.1vw;
                }
                .lista{
                   
            
                        p{
                        font-size: 4vw;
                        margin-top: -3rem;
                        
                        }
                        ul{
                          
                            text-align: center;
                            margin-top: -1rem;
                           
                             li{
                                
                                 width: 75vw;
                                 font-size: 15px;
                                 padding: 0.2rem; 
                                 margin-right: 15px;
                                
                             }
                        }
                }
            }
        }

        .seccion4{ /* Encontrame */
            margin-top: 1rem;
            .border{
                position: relative;
                width: 92vw;
                height: 90vh;
                margin: auto;
            .contacto{
                   margin-top: -16rem;
                   .logoVaniEncontrame{
                       
                            margin-bottom: -20rem;
                   }

                     .conteiner-contacto{
                       
                        margin-top: 19rem;
                         height: 66vh;
                         flex-direction: column;
                         justify-content: space-evenly;
                          img{
                                width: 50px;
                                height: 50px;
                         }
                        
                        }
                }
            }
        }

        .seccion5{
           height: 110vh;
           margin-top: -4rem;
           
            .vecinas{
                width: 100vw;
                margin-top: -10rem;
                position: absolute;
                bottom: 0;
                left: 12px;
               
                
                a{
                    text-decoration: none;
                    color: rgb(83, 0, 192);
                    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
                    .texto-vecinas{
                        font-size: 10px;
                    }
                }
            }
        }
      
  }
   @media screen and (max-width: 768px) and (orientation: landscape){
    .seccion2{
        h1{ 
            margin-top: -3rem;
        }
        .textos{
           
            margin-top: -3rem;
            p{
                width: 99vw;
                line-height: 1.5rem;
                font-size: 1.1rem;
            }
        }
    }
    .seccion3{
        h1{
            margin-top: -5rem;
        }
        .textos{
            
            margin-top: -2.3rem;
            p{
                width: 99vw;
                line-height: 1.5rem;
                font-size: 1.1rem;
            }
            .lista{
                p{
                    font-size: 1.1rem;
                     margin-top: -2.5rem;
                }
                ul{
                   
                    margin-top: -1rem;
                    li{
                        font-size: 0.8rem;
                        line-height: 0.6rem;
                    }}
            }
    }






    }

    .seccion4{
        .border{
              h1{ 
                 margin-top: -1rem;
                 }
       
            .contacto{
              
                .logoVaniEncontrame{
                   
                    margin-bottom: -10rem;
                    border-radius: 15px;
                    width: 5rem;
                    
                }
                .conteiner-contacto{
                   
                    flex-direction: row;
                    width: 90vw;
                    margin-top: 8rem;
                                     }
     
}
}
}

   
.seccion5{
    height: 100vh;
    margin-top: 8rem;
}




}






}